body {
    background-image: url("../images/back_normal.png");
    background-size: 100%; 
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 10px;
}
.box1{
  margin: 10px;
    width: 60%;
}
.box {
	margin: 10px;
    width: 30%;
}
#result-msg {
	font-size: 24px;
}
#result-img {
    width: 70%;
}
.button{
  width: 45%;
    padding: 10px;
    font-size: 22px;
    border-radius: 10px;
    background-color: #444444;
    color: white;
    outline: none;
}
.reset{
  width: 50%;
  padding: 10px;
    font-size: 22px;
    border-radius: 10px;
    background-color: #444444;
    color: white;
    outline: none;
}
p.color{
color: #000000;
}
.inokuti{
  margin: -20px;
  width: 105%;

}